[submodule "Assets/InstallerSource/SimpleJson~"]
	path = Assets/InstallerSource/SimpleJson~
	url = https://github.com/anatawa12/SimpleJson.git
[submodule "Assets/InstallerSource/semver.net"]
	path = Assets/InstallerSource/semver.net~
	url = https://github.com/adamreeve/semver.net
